
body {
	background-color: #fafafa;
	font-weight: 300;
	padding: 0px 0px;
	margin: 0px 0px;
	font-family: Roboto, sans-serif;
	font-size: 14px;

	.pull-right { float: right; }
	.pull-left { float: left; }

	.application {

		[class *= col-md] {
			float: left;
		}

		b { font-weight: 800; }

		.bp3-navbar {
	      height: 32px;
			.bp3-navbar-group {
        	height: 32px;

				a {
					color: #ffffff;
					text-decoration: none;
					display: inline-block;
					margin-left: 8px;
				}

				a:first-child {
					margin-left: 0px;
				}
				
				i {
					font-size: 22px;
				}
			}
		}

		.banner {
			height: 220px;
			width: 100%;
			margin-top: 33px;
			overflow: hidden;
			background-image: url('/img/ocean-city.png');
			background-size: cover;
			background-position: 30% 10%;
			text-align: center;
		}
	}
}

@import './components/resume/Resume';
