
body {
	background-color: #E1E2E1;
	font-weight: 300;
	padding: 0px 0px;
	margin: 0px 0px;
	font-family: Roboto, sans-serif;
}

.app-container {
	.header{
		background-color: #d7ccc8;
		border-top: 10px solid #a69b97;
		width: 100%;
		padding: 16px 8px;
		font-size: 25px;
		text-align: center;

		img.my-image {
			float: left;
			height: 50px;
		}
	}

	.sub-header {
		font-size: 12px;
	}
}

